
/InnerAPI/.vs/InnerAPI/DesignTimeBuild
InnerAPI/.vs/InnerAPI/DesignTimeBuild/.dtbcache.v2
InnerAPI/.vs/InnerAPI/v17/.futdcache.v2
InnerAPI/.vs/InnerAPI/v17/.suo
InnerAPI/.vs/InnerAPI/v17/DocumentLayout.json
/InnerAPI/.vs/ProjectEvaluation
/InnerAPI/.vs/ProjectEvaluation
InnerAPI/.vs/InnerAPI/v17/DocumentLayout.json
InnerAPI/obj/Debug/net8.0/InnerAPI.AssemblyInfo.cs
InnerAPI/obj/Debug/net8.0/InnerAPI.GeneratedMSBuildEditorConfig.editorconfig
InnerAPI/obj/Debug/net8.0/InnerAPI.MvcApplicationPartsAssemblyInfo.cs
InnerAPI/obj/Debug/net8.0/InnerAPI.sourcelink.json
InnerAPI/.vs/InnerAPI/DesignTimeBuild/.dtbcache.v2
InnerAPI/.vs/InnerAPI/v17/.futdcache.v2
InnerAPI/.vs/InnerAPI/v17/.suo
InnerAPI/.vs/InnerAPI/v17/DocumentLayout.json
InnerAPI/obj/Debug/net8.0/InnerAPI.sourcelink.json
InnerAPI/.vs/InnerAPI/DesignTimeBuild/.dtbcache.v2
InnerAPI/.vs/InnerAPI/DesignTimeBuild/.dtbcache.v2
InnerAPI/.vs/InnerAPI/DesignTimeBuild/.dtbcache.v2
