.ChatPage {
  height: 100vh;
  width: 100%;
}

.chat {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  width: 80%;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
}

.chat_header {
  /* position: fixed; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  height: 80px;
  width: 100%;
  background-color: aliceblue;
  padding-left: 10px;
  border-radius: 20px 20px 0 0;
}

.chatElipsis {
  height: 35px;
  width: 35px;
  border: none;
  background: none;
  justify-self: flex-end;
  margin-left: auto;
  margin-right: 20px;
}

.chatElipsis:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.chat_header button:hover {
  cursor: pointer;
}

.chat_header span {
  margin: 10px;
}

.chatsSide {
  height: calc(100vh - 118px);
  width: 20%;
  border-radius: 20px 20px 0 0;
}

.chatsList {
  height: calc(100vh - 108px);
  width: 100%;
}

.chatListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90px;
  width: 100%;
  border-bottom: 1px solid #304452;
}

.chatListItem:hover {
  cursor: pointer;
  background-color: #304452;
  border-radius: 10px;
}

.chatListItem:active {
  background-color: #112733;
}

.chat_body {
  display: flex;
  overflow: auto;
  scrollbar-width: thin;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: #112733;
  height: 90%;
  width: 100%;
}

.chat_footer {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 7%;
  width: 100%;
  border-radius: 20px;
}

.chat_footer input {
  font-size: 1rem;
  height: 100%;
  width: 90%;
  border: none;
  padding-left: 10px;
  outline: none;
  border-radius: 0 0 0 20px;
}

.chat_footer button {
  height: 100%;
  width: 10%;
  border: none;
  background-color: cadetblue;
  color: white;
  font-size: medium;
  border-radius: 0 0 20px 0;
}

.chat_footer button:hover {
  background-color: #4caf50;
  cursor: pointer;
}

.chat_footer button:active {
  background-color: #304452;
  box-shadow: #304452 0px 0px 0px 1px;
}

.rotate {
  animation: rotate 0.2s normal linear;
}

.message {
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
  /* max-width: 300px; */
  max-width: 30%;
  background-color: #304452;
  margin-top: 10px;
  text-overflow: ellipsis;
  word-break: break-all;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1150px) {
  .chatsSide {
    display: none;
  }
  .chat {
    width: 100%;
  }

  .chat_footer {
    height: 10%;
  }
}

@media (max-width: 1536px) {
  .chatsSide {
    height: calc(100vh - 125px);
  }
}
